
/*About Section */
body {
    margin: 0;
    padding: 0;
  }
  
  #about-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 150%;
    min-height: 150%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  
  .transparent-box {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
  }
  
  .nav-link {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  h2, p, h4, .lead {
    color: white;
  }
  
  /* Aboout end */