.navbar-nav .nav-link {
    color: white !important;
  }

  .navbar {
    background-color: black;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: black;
  }

  #home-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }

  .homesection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    color: white;
  }

  .transparent-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  .homesection h2 {
    font-size: 2.5em;
    margin: 10px 0;
    font-weight: bold;
    color: #F3ECEC;
  }

  .homesection h1 {
    font-size: 3em;
    margin: 10px 0;
    font-weight: bold;
    color: #A831C0;
  }

  .homesection p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .homesection .button {
    border-radius: 30px;
    background-color: #A831C0;
    color: #DBE3E9;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
  }

  .homesection .button:hover {
    background-color: #D9DDE0;
    color: #BB3E9C;
  }

  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .homesection h1 {
      font-size: 2.5em;
    }

    .homesection h2 {
      font-size: 2em;
    }

    .homesection p {
      font-size: 1em;
    }

    .homesection .button {
      font-size: 0.9em;
      padding: 8px 16px;
    }
  }

  /* Media query for even smaller screens */
  @media screen and (max-width: 480px) {
    .homesection h1 {
      font-size: 2em;
    }

    .homesection h2 {
      font-size: 1.5em;
    }

    .homesection p {
      font-size: 0.9em;
    }

    .homesection .button {
      font-size: 0.8em;
      padding: 6px 12px;
    }
  }