.navbar-nav .nav-link {
    color:  white !important;
}



body{
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Make the video fill the entire screen */
#home-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/* Content styling */
.content {
    position: relative;
    z-index: 1; /* Ensure content appears above the video */
    text-align: center;
    color: white;
    padding: 20px;
}
.button{
    border-radius: 50%;
}

/* Default styles */
.homesection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15%;
}

.homesection .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .homesection .content img {
    max-width: 50%; /* Set maximum width for the images 
} 
*/




.homesection h1 {
    font-size: 4em;
    margin: 10px 0;
    color: rgb(148, 22, 18);
    font-weight: bold;
    opacity: 0.9;
}


.homesection h2 {
    font-size: 2em;
    margin: 10px 0;
    color: rgb(243, 236, 236);
    font-weight: bold;
    font-family: sans-serif;
    opacity: 0.9;
}

.homesection p {
    font-size: 1em;
    margin-bottom: 20px;
    color: white;
    opacity: 0.9;
}

.homesection button {
    border-radius: 100px;
    color: rgb(219, 227, 233);
    background-color:  rgb(129, 19, 15);
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid rgb(219, 209, 209);
    font-size: 20px ;
    opacity: 0.9;
}

.homesection button:hover{
    background-color: rgb(217, 221, 224);
    color: rgb(129, 19, 15);
    border: 2px solid rgb(129, 19, 15);

}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .homesection {
        padding: 20px;
    }
}

/* Media query for even smaller screens */
@media screen and (max-width: 480px) {
    .homesection h1 {
        font-size: 1.5em;
    }

    .homesection p {
        font-size: 0.9em;
    }

    .homesection button {
        padding: 8px 16px;
    }
}



