body {
  background-image: url("img/bio.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
}
#projects h2{
    font-size: 50px;
    font-weight: 800;
}
.glass-box {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.glass-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.glass-box p {
  font-size: 1em;
  margin-bottom: 15px;
}
.glass-box button {
  background-color: #156f99;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}
.glass-box button:hover {
  background-color: #1c6ab3;
}

